<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>locked.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>normal_bottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,55}</string>
                <key>spriteSourceSize</key>
                <string>{20,55}</string>
                <key>textureRect</key>
                <string>{{55,0},{20,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bottle.png</string>
            <key>size</key>
            <string>{75,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5901f9beec9e061fc67da66986e2687:055762fbd8889889a3cbcc513de0b094:7c7ef2f244ebf4499d544b43c4fef39e$</string>
            <key>textureFileName</key>
            <string>bottle.png</string>
        </dict>
    </dict>
</plist>
