<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_bottle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,691}</string>
                <key>spriteSourceSize</key>
                <string>{524,691}</string>
                <key>textureRect</key>
                <string>{{0,0},{524,691}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_bottles.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,540}</string>
                <key>spriteSourceSize</key>
                <string>{1920,540}</string>
                <key>textureRect</key>
                <string>{{0,691},{1920,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bottle_bg.png</string>
            <key>size</key>
            <string>{1920,1231}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b00c5ce1bb2791c4d22ac259ef81d6b:dda9d110cea0fc678f6f4aea1ec3c6a9:9b7ce905a2422832eeabbbf919f62efd$</string>
            <key>textureFileName</key>
            <string>bottle_bg.png</string>
        </dict>
    </dict>
</plist>
